.App-input-box{
  position:-webkit-sticky;
  position: sticky;
  top:0;
  padding:1em;
  display:inline-flex ;
  gap:5vh;
  background-color: #282c34;
}
.App-input{
    border-color:#61dafb;
    padding:5px;
    border-radius: 10px;
    background-color: rgba(75, 0, 130, 0.1);
    color:goldenrod;
    font-family: inherit;
    font-size: larger;
  }
  .App-btn{
    text-align: center;
    border-radius: 10px;
    padding:1vh;
    font-family: inherit;
    font-size: calc(16px + 1vmin);
    background-color: indigo;
    color:gold;
  }